// Body Styles
body
{
    background-color: $body-color;
}
main
{
    padding-top: 4.5%;
}
.page-width
{
    width: $page-width;
    margin: auto;
}
.about-me
{
    background-color: $body-color;
}
.track
{
    background-color:  $body-color;
}