// Footer Styles
footer {
    background-color: $bg-footer-color;
    border-top: 1px solid $footer-border-color;
    padding-top: rem(40);
    padding-bottom: rem(20);
    color: $text-color-footer;

    .copyright {
        text-align: center;
        margin-top: rem(40);
    }

    @include mq($phone-wide) {

        .copyright {
            font-size: 0.9em;
            margin-top: rem(20);
        }

    }

}