// Gallery Styles
.gallery {
    width: 84%;
    @include center;
    
    h2 {
        text-align: center;
        font-size: 2.3em;
    }

}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;

    .item {
        overflow: hidden;
    }

    $grid-pos: 1, 2, 3 slash() 5, 1 slash() 3, 3, 4;
    $grid-pos-length: length($grid-pos);

    @for $i from 1 through $grid-pos-length {
        .item-0#{$i} {
            grid-column: nth($grid-pos, $i);
        }
    }

    img {
        display: block;
        transition: all 0.5s ease;
        
        &:hover {
            transform: scale(1.2);
        }
    
    }

    @include mq($phone) {
        grid-template-columns: 1fr;

        .item {
            grid-column: auto;
        }

    }

}