// Header Styles

nav {
    
}



header {
    @include flex-layout-row;
    height: $header-height;

    .logo {
        box-shadow: 0 1px 6px 0 rgba(black, 0.25);
        background-color: $bg-wrapper-color;
        padding: 0 $padding;
        position: relative;
        z-index: 900;
        height: 116px;
        width: 153px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
    
        #{$link-hover-selector}{
            height: 126px;
        }

    }

    @include mq($phone-wide) {
        align-items: center;
        height: $header-height-mobile;

        .logo {
            height: auto;
            width: 46px;
            padding: 0;
            box-shadow: none;

            #{$link-hover-selector} {
                height: auto;
            }

        }

    }

}