// Typography Styles
h1, h2, h3
{
    font-family: $header-font;
    color: $font-color;
}
p
{
    font-family: $paragraph-font;
    color: $font-color;
}
// about page
.about-me-paragraph h1, .inspirations h1
{
    text-align: center;
}