// variables
// colors
$font-color: #ffffff;
$header-color: #020408;
$body-color: #0C1428;
$footer-color: #282828;
$about-colors: black;

// font styles
$header-font: "questrial";
$paragraph-font:"raleway";

// main page size
$page-width: 60%;
